@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Oswald:wght@300;400;700&family=Passion+One:wght@400;700&family=Raleway:wght@100;400;500;700&display=swap');

* {
	box-sizing: border-box;
	text-decoration: none;
}
body {
	font-family: 'Lato', sans-serif;
	background-color: #f2f2f2;
}